[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-pika = "*"
structlog = "*"
addict = "*"

[dev-packages]
black = "*"
build = "*"

[requires]
python_version = "3.11"
